<div id="page_wrapper">	
		<div id="content">
			<h2> Welcome </h2>
			<p>This Application is for your everday tasks be it at your office or at home. 
			Simple and easy to use. You won't forget!</p>
		</div>

		<div id="profile_image">
		<%= image_tag "task.jpeg" %>
		</div>
</div>