<div id="page_wrapper">	
	<div class="jumbotron">
		<h2>Welcome</h2>
		<br>
		<h4>This Application is for your everday tasks be it at your office or at home. 
			Simple and easy to use. You won't forget </h4>
		</br>
	</div>

	<div class="col-md-10 col-md-offset-1 center">
		<%= image_tag("task.jpg", :alt => "rss feed") %>
	</div>
</div>