<div id="page_wrapper">	
	<div class="jumbotron">
		<h2>Get in touch</h2>
		<br>
		<h4> Any ideas or tricks and tips let me know </h4>
		</br>
	</div>
	<%= link_to "Back to your todo list", items_path, class: "btn btn-success"%>

	<div class="col-md-10 col-md-offset-1 center">
	<div class="col-md-2">
		<%= image_tag("task.jpg", :alt => "rss feed") %>
	</div>
	</div>
</div>