<div class="jumbotron">
	<h2>Get it on your list! Before you forget!</h2>
	<br>
	<h4>I was going to do something, then I got distracted for 5seconds and FORGOT!  </h4>	
	</br>
	<%= link_to "Sign fp", new_user_registration_path, class: "btn btn-danger" %>
</div>

