<footer class="footer">
   <nav>
    <ul>
      <li><%= link_to "/About",   '#About' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  <small>
    Created by Stephen Hughes
    thanks to
    <a href="www.udemy.com">Udemy Ruby on Rails course</a>
  </small>
</footer>

